!!!
%html
  %head
    %title #{@index}
  %body
    %table
      %form{ action: "/delete", method: "post"}
        %tr
          %td
            %input{ type: "hidden", name: "id", value: "#{@id}"}
            目的 
          %td
            %input{ type: "textfield", name: "mokuteki", value: "#{@mokuteki}"}
        %tr
          %td
            日付 
          %td
            %input{ type: "textfield", name: "date", value: "#{@date}"}
        %tr
          %td
            金額 
          %td
            %input{ type: "textfield", name: "kingaku", value: "#{@kingaku}"}
        %tr
          %td
            通貨単位 
          %td
            %input{ type: "textfield", name: "currency", value: "#{@currency}"}
        %tr
          %td
            支払先 
          %td
            %input{ type: "textfield", name: "siharaisaki", value: "#{@siharaisaki}"}
        %tr
          %td
            %input{ type: "submit", value: "delete"}
          %td
    %table
      %form{ action: "/", method: "get"}
        %tr
          %td
            %input{ type: "submit", value: "return"}

