!!!
%html
  %head
    %title #{@index}
    %link{:href => "bootstrap/css/bootstrap.css",:rel => "stylesheet"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "bootstrap/js/bootstrap.js"}
  %body
    %table
      %form{ action: "/delete", method: "post"}
        %tr
          %td
            %input{ type: "hidden", name: "id", value: "#{@id}"}
            目的 
          %td
            %input{ type: "textfield", name: "mokuteki", value: "#{@mokuteki}"}
        %tr
          %td
            日付 
          %td
            %input{ type: "textfield", name: "date", value: "#{@date}"}
        %tr
          %td
            金額 
          %td
            %input{ type: "textfield", name: "kingaku", value: "#{@kingaku}"}
        %tr
          %td
            通貨単位 
          %td
            %input{ type: "textfield", name: "currency", value: "#{@currency}"}
        %tr
          %td
            支払先 
          %td
            %input{ type: "textfield", name: "siharaisaki", value: "#{@siharaisaki}"}
        %tr
          %td
            支払手段 
          %td
            %input{ type: "textfield", name: "shudan", value: "#{@shudan}"}
        %tr
          %td
            費目 
          %td
            %input{ type: "textfield", name: "himoku", value: "#{@himoku}"}
        %tr
          %td
            %input{ type: "submit", value: "delete", class: "btn"}
          %td
    %table
      %form{ action: "/", method: "get"}
        %tr
          %td
            %input{ type: "submit", value: "return", class: "btn"}

